<div class="bread-crumb">
    <span>
        <a href="javascript:void(0)" class="active">Help</a>
    </span>
</div>

<div class="container help">
    <div class="help-content placeholder" ng-cloak>

        <div class="spinner-overlay">
            <span class="spinner">
                <md-progress-circular class="wht" md-diameter="55px"></md-progress-circular>
            </span>
        </div>

        <iframe title="helpFrame" ng-src="{{iframeSrc}}" class="fresh-desk"></iframe>
    </div>
</div>