<!-- <div class="container dashboard-level3" ng-style="{ height: windowHeight }" resize > -->
<!-- <div class="bread-crumb" ng-if="fromPage==='dashboard'">
    <span><a ng-href="#/dashboard">Dashboard</a></span>
    <span>/</span>
    <span><a href="#/dashboard-level2/wf/{{leve3data.wfid}}/{{phase}}?wfname={{wfname}}&&stph={{stph}}">{{wfname}} - {{phase}}</a></span>
    <span>/</span>
    <span><a href="javascript:void(0)" class="active">{{leve3data.hirenm}}</a></span>
</div> -->

<!-- <div class="bread-crumb" ng-if="fromPage==='report'">
    <span><a ng-href="#/reports">Reports</a></span>
    <span>/</span>
    <span><a href="#/reports/">Workflkow Reports</a></span>
    <span>/</span>
    <span><a href="javascript:void(0)" class="active">{{leve3data.hirenm}}</a></span>
</div> -->

<div class="dashlvl-3 level3dash" ng-cloak>
    <div ng-cloak ng-include="'views/dashboard/div-dashboard3.html'"></div>
</div>
