<md-dialog aria-label="SSO Settings" class="embed-params-modall sso-modal md-default-theme">
<form name="gdprForm" novalidate>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Require user consent</h2>
        <span flex></span>
        <md-button aria-label="Close" type="button" class="md-icon-button" ng-click="cancel()">
            <span class="icon icon-close-2"></span>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content style="min-width:620px;max-width:620px">

    <div layout="column">
		<label class="heading heading-inside">
            <span>
                Add necessary legal details to create your user consent form.
            </span>
        </label>

        <div class="otrinpt-wrap">
            <md-input-container class="required">
                <label>Legal company name</label>
                <input md-no-asterisk ng-model="gdprSettingsData.legalname" required>
                <span class="blrdv"></span>
            </md-input-container>
            <md-input-container class="required">
                <label>Legal company number</label>
                <input md-no-asterisk ng-model="gdprSettingsData.legalnum" required>
                <span class="blrdv"></span>
            </md-input-container>
            <md-input-container class="required">
                <label>Brand name</label>
                <input md-no-asterisk ng-model="gdprSettingsData.brandname" required>
                <span class="blrdv"></span>
            </md-input-container>
            <md-input-container class="required">
                <label>Link to your privacy policy</label>
                <input md-no-asterisk name="urlInpt" type="url" ng-pattern="/^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/" ng-model="gdprSettingsData.privacylink" required>
                <span class="blrdv"></span>
                <div ng-messages="gdprForm.urlInpt.$error" role="alert" multiple>
                    <div ng-message="pattern" class="my-message">
                        URL-link has to start with http:// or https://
                    </div>
                </div>
            </md-input-container>
        </div>
	</div>

</md-dialog-content>

<md-dialog-actions layout="row">
    <md-button aria-label="Save" class="save save-spinner md-default-theme" ng-click="saveGdprSettings();" ng-disabled="gdprForm.$invalid" md-autofocus>
        <span class="text">Save</span>
        <span class="text-save">Saving...</span>
        <span class="text-saved">Saved
            <span class="icon-notification-ok"></span>
        </span>
        <span class="spinner">
            <md-progress-circular class="wht" md-diameter="20px"></md-progress-circular>
        </span>
    </md-button>
</md-dialog-actions>
</form>
</md-dialog>
